:root {
  --color-primary-white: #fff;
  --color-primary-white-1: #f2f2f2;

  --color-primary: #bdbfbf;
  --color-secondary: #1a261a;
  --color-secondary-light: #717346;
  --color-secondary-light-2: #a69a60;
  --color-secondary-light-3: #593c22;

  --color-blue-dark-1: #121726;
  --color-blue-dark-2: #355b8c;
  --color-blue-dark-3: #081826;
  --color-blue-dark-3: #17aebf;

  --color-txt-light: #0d0d0d;
  --color-txt-light-1: #262626;
  --color-txt-light-2: #595959;
  --color-txt-light-3: #a6a6a6;

  --color-icons: #c69963;

  --shadow-dark: 0 5rem 6rem rgba(0, 0, 0, 0.4);
  --shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.185);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.16);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 45%;
  }
}



body {
  font-family: "Courier Prime", monospace;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-txt-light);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.container {
  display: grid;
  grid-template-rows: 100vh 70vh 40vh 70vh min-content min-content  min-content 50vh 15vh;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: 100vh 70vh 40vh 70vh min-content min-content 1vh min-content 15vh;
    grid-template-columns: 1fr;
 
  }
}

@media only screen and (max-width:600px) {
  .container  {
    grid-template-rows: 100vh min-content 40vh 70vh min-content min-content 1vh min-content 30vh;
  }
}
/***********************************************/
/*****************    nav-section ****************/
/***********************************************/
.nav-section {
  grid-column: 1 / 1;
  grid-row: 1 / span 1;
  background-color: inherit;
  min-width: 100vw; 
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}



.nav-top {
  background-color: var(--color-blue-dark-1);
  position: relative;
  flex: 0 0 15%;
  min-height: 15vh;
}

@media only screen and (max-width:3350px) and (max-height: 1000px) {
  .nav-top{flex: 0 0 25%; }
}
/* @media only screen and (max-width:3350px) and (max-height: 1000px) {
  .about-area{height: 60vh; }
} */
/*-------------------------Menu------------------------------------*/
.menu-open {
  position: fixed;
  top: 2.5rem;
  left: 3rem;
  width: 40px;
  height: 20px;
  background-color: rgba(255, 0, 0, 0);
}

.menu-open span {
  display: flex;
  width: 40px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  margin-top: 3px;
}
.nav {
  position: fixed;
  top: 0;
  left: -50%;
  width: 40%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  border-right: 1px solid black;
  transition: all 0.5s;
  z-index: 9000;
}


.nav.active {
  position: fixed;
  top: 0;
  left: 0%;
  width:50%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  border-right: 1px solid rgb(255, 251, 251);
  transition: all 0.5s;
  z-index: 8000;
}

/* @media screen and (max-width: 768px) {
  .nav,
  .nav.active {
    width: 50vw;
  }
} */

.nav ul {
  position: absolute;
  top: 40%;
  right: 20%;
  transform: translateY(-50%);
  width: 80%;
  text-align: center;
  padding: 3rem;
}

.logo-position {
  position: fixed;
  top: 0rem;
  left: 8rem;
  width: 40px;
  height: 20px;
}

/*---------------------------------------------------------*/

.nav .nav-horizontal {
  position: absolute;
  top: 4%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding: 1rem 3rem;
  cursor: pointer;
}

.nav .nav-horizontal li a {
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.8rem;
  background-color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav .nav-horizontal li a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.nav ul li {
  margin-top: 3rem;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  font-size: 4.8rem;
  background-color: rgb(0, 0, 0);
  font-weight: 600;
  font-family: "Roboto";
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}

.menu-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.menu-close span {
  display: flex;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}

.menu-close :nth-child(1) {
  position: absolute;
  left: -2px;
  top: 7px;
  transform: rotate(45deg);
}

.menu-close :nth-child(2) {
  position: absolute;
  left: -2px;
  top: 7px;
  transform: rotate(135deg);
}

/*------------------------LOGO----------------------------------*/
.logo-position {
  position: fixed;
  top: 0rem;
  left: 8rem;
  width: 40px;
  height: 20px;
}
@media only screen and (max-width: 768px) {
  .logo-position {
    left: 40%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 600px) {
  .logo-position {
    left: 75%;
    top: 1rem;
    transform: translate(-50%, -50%);
 
  
    
  }
}
@media (max-width:600px) {
  .nav-contact {
    display: none;
  }
}

.logo {
  height: 8rem;
  width: 20rem;
}

@media only screen and (max-width: 900px) {
  .logo {
    height: 8rem;
    width: 24rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    height: 10rem;
    width: 28rem;
  }
}
@media only screen and (max-width: 600px) {
  .logo {

    width: 35rem;
  }
}
/*----------------------------------------------------------------*/
.nav-contact {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: auto;
  height: 20px;
}
.nav-up-2 {
  float: right;
  list-style: none;
  height: 20px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .nav-up-2 {
    flex-direction: column;
  }
}

.nav__link {
  transition: all 0.2s;
}

@media only screen and (max-width: 41em) {
  .nav__link:link {
    font-size: 1.4rem;
  }
}

.nav__link:link,
.nav__links:link,
.nav__link:visited,
.nav__links:visited {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--color-secondary-light);
  text-decoration: none;
  font-family: inherit;
  text-transform: uppercase;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 8;
}

@media only screen and (max-width: 760px) {
  .nav__link:link,
  .nav__links:link,
  .nav__link:visited,
  .nav__links:visited {
    font-size: 2.5rem;
    padding: 1.8rem;
    z-index: 8;
  }
}

@media only screen and (max-width: 760px) {
  .nav__links:link,
  .nav__links:visited {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 414px) {
  .nav__links:link,
  .nav__links:visited {
    font-size: 2.8rem;
  }
}
.nav__links:link,
.nav__links:visited {
  font-size: 1.4rem;
  color: var(--color-primary-white);
}

.nav__links:hover {
  border-bottom: 1px solid var(--color-primary-white);
}

.nav__link:hover {
  transform: translateY(-1px);
  color: var(--color-primary-white);
}

/*----------------------------------------------------------------*/
.nav-down {
  width: 144rem;
  margin: 0 auto;
}

.nav-down-2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 144rem;
  margin: 0 auto;
  top: 12rem;
}

@media only screen and (max-width: 768px) {
  .nav-down-2 {
    display: none;
  }
}
.nav ul {
  position: absolute;
  top: 40%;
  right: 20%;
  transform: translateY(-50%);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
}
/*------------------------------HEADING-------------------------------*/
.heading-4--dark {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  text-transform: initial;
  text-align: center;
  color: var(--color-txt-light);
  font-weight: 500;
}
.heading-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  text-transform: initial;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 500;
  color: var(--color-primary-white);
}

/*------------------------------HEADING-------------------------------*/
.header {
  flex: 0 0 85%;
  min-height: 85%;
  background-image: url(/img/bg5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media only screen and (max-width:3350px) and (max-height:1000px) {
  .header {
    justify-content: center;
  align-items: center;

  }
}

.search-area {
  background-color: transparent;
  width: 50rem;
  height: 20rem;
  margin-bottom: 6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
@media only screen and (max-width: 768px) {
  .search-area {
    margin-bottom: 8rem;
  }
} 

.area-1 {
  background-color: rgba(221, 221, 221, 0);
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45rem;
  height: 10rem;
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .area-1 ,
  .area-2 {
    height: 15rem;
  }
} 

@media only screen and (max-width: 768px) {
  .area-2 {
    height: 15rem;
    margin-top: 4rem;

  }
} 

@media only screen and (max-width: 768px) {
  .area-1 {
    flex-direction: column;
  }
} 

.buy,
.rent,
.valuation {
  background-color: rgba(30, 30, 31, 0.652);
  width: 20rem;
  height: 5rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #fff;
  box-shadow: var(--box-shadow-dark);
  transition: all 0.2s;
}

@media only screen and (max-width: 768px) {
  .buy,
  .rent,
  .valuation {
    min-height: 8rem;
    min-width: 42rem;
    padding:2rem;
  }
} 
.buy:hover,
.rent:hover,
.valuation:hover {
  background-color: rgba(0, 0, 0, 0.995);
}
.valuation {
  width: 42rem;

}

@media only screen and (max-width: 768px) {
  .valuation {
    margin:2rem;
  }
} 

.area-2 {
  background-color: inherit;
  flex: 1;
  width: 45rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/***********************************************/
/*****************  homes      ****************/
/***********************************************/
.homes {
  grid-column: 1 / 1;
  grid-row: 2 / span 1;
  background-color: var(--color-blue-dark-1);
  width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width:600px){
  .homes {
    width: 100%;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.home {
  background-color: inherit;
  width: 32%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

@media only screen and (max-width:600px){
  .home {
    background-color: inherit;
    width: 100%;
    height: 40vh;
    margin: 8rem;
  }

}

/******************************/
.picture,
.picture-1,
.picture-2 {
  background-image: url(/img/9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 0 0 70%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
/* @media only screen and (max-width: 768px) {
  .picture,
  .picture-1,
  .picture-2 {
    width: 50%;
  }
} */

.picture-1 {
  background-image: url(/img/24.jpg);
}
.picture-2 {
  background-image: url(/img/2.jpg);
}

.both {
  background-color: var(--color-primary-white);
  flex: 0 0 20%;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home__rooms {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.home-price {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.contact-real {
  background-color: inherit;
  flex: 0 0 10%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.txt {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: var(--color-blue-dark-1);
  color: #fff;
  font-weight: 400;
  transform: translateY(50%);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}


.icon-box-rooms,
.icon-box-rooms-x {
  fill: #c69963;
  height: 2rem;
  width: 2rem;
  margin-right: 6px;
}
@media only screen and (max-width:600px) {
  .icon-box-rooms,
  .icon-box-rooms-x {
    height: 6rem;
    width: 6rem;

  }
}

.icon-box-rooms-x {
  margin-right: 1rem;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.icon-box-about {
  fill: #c69963;
  height: 8rem;
  width: 8rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width:768px) {
  .icon-box-about {
    height: 12rem;
    width: 12rem;
    margin-bottom: 1rem;
  
  }
}

.home-price p,
.home__rooms p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width:768px) {
  .home-price p,
  .home__rooms p {
  font-size: 2rem;
  }
}
@media only screen and (max-width:600px) {
  .home-price p,
  .home__rooms p {
  font-size: 3rem;
  }
}

.btn-real {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1.75rem;
  background-color: var(--color-secondary-light);
  color: #fff;
  font-weight: 500;
  border: none;
  transition: all 0.2s;
}

@media only screen and (max-width:600px) {
  .home__btn {

    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 3rem;
    background-color: var(--color-secondary-light);
    color: #fff;
    font-weight: 600;
    letter-spacing:2px;
    border: none;
    transition: all 0.2s;
  }
}

.home__btn:hover {
  background-color: var(--color-txt-light);
  color: rgb(255, 255, 255);
}

@media only screen and (max-width:768px){
  #helper{
    display: none;
  }
}
/***********************************************/
/*****************  about      ****************/
/***********************************************/
.about-area {
  background-color: #fff;
  grid-column: 1 / 1;
  grid-row: 3 / span 1;
  border: 1px solid #ddd;

}

.about {
  background-color: #fff;
  width: 144rem;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem ;

}

.long-txt {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.6;
  text-align: center;
  color: var(--color-txt-light-4);
}



@media screen and (max-width: 768px) {
  .long-txt {
    font-size: 2.2rem;
    letter-spacing: 4px;
  }
}

/***********************************************/
/*****************  section-seenon ****************/
/***********************************************/
.section-seenon {
  grid-column: 1 / 1;
  grid-row: 4 / span 1;
  background-color: rgb(4, 196, 192);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(19, 18, 18, 0.945)),
    url(/img/bg1.jpg);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seenon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-end;
}

.symbol {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}



.seenon p {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 1.25rem;
  color: var(--color-primary-white-1);
  color: #fff;
  font-weight: 500;
}

.seenon p::after {
  content: "";
  height: 2px;
  display: block;
  background-color: currentColor;
}

.logo-1 {
  max-height: 4.5rem;
  max-width: 100%;
  filter: brightness(100%);
  margin: 8rem;
}

@media only screen and (max-width:768px) {
  .logo-1  { 
    max-height: 4.5rem;
    margin: 2rem;
  }
}

/***********************************************/
/*****************  features ****************/
/***********************************************/

.features {
  grid-column: 1 / 1;
  grid-row: 5 / span 1;
  background-color: var(--color-primary-white);
  width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.child1 {
  width: 450px;
  height: 300px;
  background-color: #fff;
  margin: 1rem;
  box-shadow: var(--box-shadow-dark);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.child2 {
  width: 450px;
  height: 300px;
  background-color: #fff;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.child3 {
  width: 450px;
  height: 300px;
  background-color: #fff;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.child4,
.child5,
.child6 {
  width: 450px;
  height: 300px;
  background-color: #fff;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
@media (max-width:650px) {
  .child1,
  .child2,
  .child3,
  .child4,
  .child5,
  .child6 {
    padding: 0 ;
    width: 80%;
  }

}

.features-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  width: 40rem;
  height: 40rem;
  padding: 1rem;
  margin: 1rem;
  background-color: aqua;
}

.features-1 {
  justify-content: center;
}

.features-top {
  background-color: inherit;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .features-top {
    flex-direction: column;
  }
}

.features__text {
  background-color: inherit;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
}


.features__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-transform: initial;
  letter-spacing:2px;
  text-align: center;
  padding: 1.25rem;
  color: var(--color-txt-light);
  font-weight: 300;
}

@media (max-width: 1024px) {
  .features__text {
    font-size: 2rem;
    font-weight: 400;
  }
}
@media (max-width: 786px) {
  .features__text {
    font-size: 2.4rem;
    font-size: 2rem;
    font-weight: 400;
  }
}
@media (max-width: 600px)   and (max-width:471px){
  .features__text {
    font-size: 2.5rem;
  }
}

.feature__icon {
  fill: #c69963;
  width: 4.9rem;
  height: 4.9rem;
}
@media (max-width: 786px) {
  .feature__icon {
    width: 8.5rem;
    height: 8.5rem;
  }
}

.features__text p {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  text-transform: initial;
  text-align: center;
  color: var(--color-txt-light);
  font-weight: 500;
}

.heading-4--dark {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  text-transform: initial;
  text-align: center;
  padding: 1.25rem;
  color: var(--color-txt-light);
  font-weight: 500;
}

@media (max-width: 1024px) {
.heading-4--dark  {
    font-size: 2.5rem;
    font-weight: 400;
  }
}
@media (max-width: 786px) {
.heading-4--dark  {
    font-size: 2.8rem;
    font-weight: 500;
  }
}
@media (max-width: 600px)   and (max-width:471px){
.heading-4--dark  {
    font-size: 3rem;
    letter-spacing:2px;
    font-weight: 500;
  }
}

@media (max-width: 414px) {
  .heading-4--dark {
    font-size: 3rem;
    letter-spacing:2px;
    font-weight: 700;
  }
}

/***********************************************/
/*****************  gallery ****************/
/***********************************************/

  .gallery {
    grid-column: 1 / 1;
    grid-row: 6 / span 1;
    background-color: inherit;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    gap: 1.5rem;
  }
 @media screen and (max-width: 768px) {
  .gallery {
    background-color: var(--color-blue-dark-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 }
 

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 1rem;
}
@media screen and (max-width: 768px) {
  .gallery__img {
    width: 140rem;
  }
  

}

.gallery__item--1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.gallery__item--2 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 3;
}
.gallery__item--3 {
  grid-row: 1 / span 2;
  grid-column: 6 / 7;
}
.gallery__item--4 {
  grid-row: 1 / span 2;
  grid-column: 7 / -1;
}
.gallery__item--5 {
  grid-row: 3 / span 3;
  grid-column: 1 / span 2;
}
.gallery__item--6 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
}
.gallery__item--7 {
  grid-row: 4 / 5;
  grid-column: 5 / 6;
}
.gallery__item--8 {
  grid-row: 3 / span 2;
  grid-column: 6 / span 2;
}
.gallery__item--9 {
  grid-row: 3 / span 3;
  grid-column: 8 / -1;
}
.gallery__item--10 {
  grid-row: 6 / span 2;
  grid-column: 1 / 2;
}
.gallery__item--11 {
  grid-row: 6 / span 2;
  grid-column: 2 / span 2;
}
.gallery__item--12 {
  grid-row: 6 / span 2;
  grid-column: 4 / 5;
}
.gallery__item--13 {
  grid-row: 5 / span 3;
  grid-column: 5 / span 3;
}
.gallery__item--14 {
  grid-row: 6 / span 2;
  grid-column: 8 / -1;
}

/***********************************************/
/*****************  .gallery-slide ****************/
/***********************************************/
.gallery-slide {
  grid-column: 1 / 1;
  grid-row: 7 / span 1;
  background-color: #fff;
  width: 100vw;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .carousel-container {
    display: none;
  }
}

.carousel-container {
  width: 100vw;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 50%;
  height: 50%;
  margin-top: .5rem;
}

.img {
  width: 50%;
}

#prevBtn,
.icon-box-2 {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 300px;
  width: 3rem;
  height: 3rem;
  fill: rgb(54, 16, 16);
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.2s;
}
#nextBtn:hover,
#prevBtn:hover,
.icon-box-1:hover,
.icon-box-2:hover {
  opacity: 1;
  fill: rgb(247, 245, 245);
}
#nextBtn,
.icon-box-1 {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 300px;
  width: 3rem;
  height: 3rem;
  fill: rgb(54, 16, 16);
  opacity: 0.9;
  cursor: pointer;
}

/***********************************************/
/*****************  contact-area ****************/
/***********************************************/
.contact-area {
  grid-column: 1 / 1;
  grid-row: 8 / span 1;
  background-color: rgb(255, 255, 255);
  width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.client-1 {  
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}



@media (max-width:26.6em) {
  .client-1  { 
    flex: 0 0 20%;
  }
}
@media (max-width:26.6em) {
  .client-2  { 
    flex: 0 0 80%;
  }
}

.client-1 h2,
.client-1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing:2px;
  text-align: center;
  color: var(--color-txt-light-4);
  font-weight: 600;
}
@media (max-width: 1000px) {
  .client-1  h2,
  .client-1  p  { 
    font-size: 3rem;
  }
}

@media (max-width:26.6em) {
.client-1  h2,
.client-1  p { 
  font-size: 3rem;
  }
}

.client-1  p{ 
   font-size: 2rem;
    font-weight: 300;
    text-transform: initial;
}
@media (max-width:1000px) {
  .client-1  p  { 
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
.client-1  p { 
  font-size: 2.6rem;
  }
}



.client-2 {  
  flex: 0 0 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content:center;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .client-2 {  
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
  }
}


.icon-box-11 {
  height: 8rem;
  width: 6rem;
  fill: rgb(0, 0, 0);
  background-color:transparent;
  cursor: pointer;
}


@media (max-width:41em) {
  .icon-box-11 { 
    height: 6rem;
    width: 4rem;
  }
}

@media (max-width: 768px) {
  .icon-box-11 { 
    height: 10rem;
    width: 8rem;
  }
}

.division-1,
.division-2,
.division-3 {
  width: 40rem;
  height: 20rem;
  margin: 2rem;
}

@media only screen and (max-width: 768px) {
  .division-1,
  .division-2,
  .division-3 {
    width: 80%;
    height: 40rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}

.words h4 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: initial;
}
@media (max-width:1000px) {
  .words h4 { 
    font-size: 2rem;
  }
}

@media (max-width:768px) {
  .words h4 { 
  font-size: 2.2rem;
  }
}


.words p {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing:1px;
  line-height: 2;
  text-align: center;
  color: var(--color-txt-light-4);
  cursor: pointer;
}

@media only screen and (max-width: 768px ) { 
  .words p { 
    font-size: 2.2rem;  
  }
}

@media only screen and (max-width: 500px ) { 
  .words p { 
    font-size: 2.5rem;  
  }
}

.words h5 {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: underline;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing:1px;
  line-height: 2;
  text-align: center;
  color: var(--color-txt-light-4);
  cursor: pointer;
} 

@media (max-width:1000px) {
  .words h5 { 
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .words h5 { 
  font-size: 2.3rem;
  }
}

@media only screen and (max-width: 414px ) { 
   .words h5 { font-size: 2.5rem;
        
  }
}

@media only screen and (max-width: 375px ) { 
   .words h5 { font-size: 2rem;
        
  }
}


  /***********************************************/
  /*****************  footer ****************/
  /***********************************************/
  .footer-area {
    grid-column: 1 / 1;
    grid-row: 9 / span 1;
    background-color: var(--color-blue-dark-1);
    height: 100%;
   

  }

.footer {
  width: 144rem;
  margin: 0 auto;
  display: flex;
 flex-direction: column;
}

.footer-top {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 0.5rem;
}

 @media only screen and (max-width:768px) {
  .footer-top {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
  }
} 

.logo-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media only screen and (max-width: 500px){
  .logo-footer {
    justify-content: flex-end;
  }
}

.logo-footer .logo {
  width: 18rem;
  height: 6rem;
}
.logo-footer p {
  font-size:1.4rem;
  color: #fff;
}


.footer-links,
.footer-icons,
.footer-nav-icons {
  display: flex;
}

.footer-nav {
  flex: 1;
  justify-content: flex;
  align-items: center;
  cursor: pointer;
}

.footer-links {
  flex: 0 0 70%;
  justify-content: center;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  margin: 0;
}
@media (max-width: 41em) {
  .footer-links {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
}

.footer-link {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-family: sans-serif;
  margin: 1rem;

  align-items: center;
  transition: all 0.2s;
}

@media only screen and (max-width: 1287px) {
  .footer-link {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-link {
    font-size: 2.1rem;
  }
}

@media only screen and (max-width: 500px) {
  .footer-link {
    font-size: 2.5rem;
    margin: 2rem;
    font-weight: 600;
  }
}

.footer-link:hover {
  color: rgb(87, 104, 71);
  border-bottom: 1px solid #fff;
}

.footer-icons {
  flex: 0 0 10%;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}


@media (max-width: 41em) {
  .footer-links {
    flex: 0 0 90%;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 50em) {
  .footer-links {
    flex: 0 0 90%;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 27em) {
  .footer-links {
    flex: 0 0 90%;
    justify-content: space-around;
    align-items: center;
  }
}

.search-icon-footer {
  width: 25px;
  height: 25px;
  margin: 5px;
  fill: var(--color-secondary-light-2);
  background-color: inherit;
  cursor: pointer;
  margin: 0 8px;
  transition: all 0.2s;
}
@media (max-width: 41em) {
  .search-icon-footer {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 26.6em) {
  .search-icon-footer {
    width: 45px;
    height: 45px;
  }
}

.search-icon-footer:hover {
  fill: var(--color-primary-white);
}

.search-icon-nav {
  width: 25px;
  height: 25px;
  margin: 5px;
  fill: #fff;
  background-color: inherit;
  cursor: pointer;
  margin: 0 8px;
}

.search-icon-footer {
  width: 25px;
  height: 25px;
  margin: 5px;
  fill: var(--color-secondary-light-2);
  background-color: inherit;
  cursor: pointer;
  margin: 0 8px;
  transition: all 0.2s;
}
